repos:
- repo: https://github.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  -   id: flake8
      exclude: ^(.git|__pycache__|docs/source/conf.py|old|build|dist|tests|jina/resources/|docarray/proto/pb/docarray_pb2.py|docarray/proto/pb/docarray_pb2_grpc.py|jina/proto/pb2/docarray_pb2.py|jina/proto/pb2/docarray_pb2_grpc.py)
      args:
        - --max-complexity=10
        - --max-line-length=127
        - --select=E9,F63,F7,F82
- repo: https://github.com/ambv/black
  rev: 22.3.0
  hooks:
  - id: black
    types: [python]
    exclude: ^(docarray/proto/pb/docarray_pb2.py|docarray/proto/pb2/docarray_pb2.py|docs/|docarray/resources/)
    args:
      - -S
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  -   id: blacken-docs
      args:
        - -S