site_name: DocArray
site_description: DocArray, DocArray is a library for representing, sending and storing multi-modal data, with a focus on applications in ML and Neural Search.
site_url: https://docs.docarray.org/
repo_name: docarray/docarray
repo_url: https://github.com/docarray/docarray
edit_uri: ''
theme:
  logo: assets/docarray-dark.svg

  favicon: assets/favicon.png
  name: material
  features:
#    - navigation.sections
    - navigation.indexes
    - content.code.copy
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode


    # Palette toggle for dark mode
    - scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
#        logo: assets/docarray-light.svg

    #primary: teal
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - attr_list
  - md_in_html

extra:
  analytics:
    provider: google
    property: G-HTTNBRW3Z2
  social:
  - icon: fontawesome/brands/github-alt
    link: https://github.com/docarray/docarray
  - icon: fontawesome/brands/discord
    link: https://discord.com/invite/WaMp6PVPgR
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/docarray

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - awesome-pages
  - mkdocs-video:
      is_video: True
      video_autoplay: True
      video_loop: True
      video_muted: True
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx
            inherited_members: true
            show_root_toc_entry: false
            show_root_heading: true
            show_submodules: yes

nav:
  - DocArray: README.md
  - User Guide:
    - user_guide/intro.md
    - Representing data:
      - user_guide/representing/first_step.md
      - user_guide/representing/array.md
    - Sending data:
      - user_guide/sending/first_step.md
      - user_guide/sending/serialization.md
      - user_guide/sending/api/jina.md
      - user_guide/sending/api/fastAPI.md
    - Storing data:
      - user_guide/storing/first_step.md
      - DocIndex - Vector search:
          - user_guide/storing/docindex.md
          - user_guide/storing/index_in_memory.md
          - user_guide/storing/index_hnswlib.md
          - user_guide/storing/index_weaviate.md
          - user_guide/storing/index_elastic.md
          - user_guide/storing/index_qdrant.md
      - DocStore - Bulk storage:
        - user_guide/storing/doc_store/store_file.md
        - user_guide/storing/doc_store/store_jac.md
        - user_guide/storing/doc_store/store_s3.md

  - How-to:
    - how_to/add_doc_index.md
    - how_to/multimodal_training_and_serving.md
    - how_to/optimize_performance_with_id_generation.md
  - Data Types:
    - data_types/first_steps.md
    - data_types/text/text.md
    - data_types/image/image.md
    - data_types/audio/audio.md
    - data_types/video/video.md
    - data_types/3d_mesh/3d_mesh.md
    - data_types/table/table.md
    - data_types/multimodal/multimodal.md
    - data_types/tensor/tensor.md

  - Migration guide: migration_guide.md
  - ...
  - Glossary: glossary.md
  - Contributing: CONTRIBUTING.md
