[tool.poetry]
name = "docarray"
version = '2022.11.29.alpha'
description='The data structure for unstructured data'
authors=['DocArray']
license='Apache 2.0'

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.10.2"
numpy = "^1.23.4"
protobuf = { version = "^4.21.9", optional = true }
torch = { version = "^1.0.0", optional = true }
orjson = "^3.8.2"
pillow = {version = "^9.3.0", optional = true }
types-pillow = {version = "^9.3.0.1", optional = true }
trimesh = {version = "^3.17.1", optional = true}
typing-inspect = "^0.8.0"

[tool.poetry.extras]
common = ["protobuf"]
torch = ["torch"]
image = ["pillow", "types-pillow"]
mesh = ["trimesh"]

[tool.poetry.dev-dependencies]
pytest = "^6.1"
pre-commit = "^2.20.0"
jupyterlab = "^3.5.0"
mypy = "^0.990"
types-protobuf = "^3.20.4"
black = "^22.10.0"
isort = "^5.10.1"
ruff = "^0.0.165"

[tool.poetry.group.dev.dependencies]
fastapi = "^0.87.0"
uvicorn = "^0.19.0"
httpx = "^0.23.0"
pytest-asyncio = "^0.20.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
exclude = ['docarray/proto']
plugins = "pydantic.mypy"
check_untyped_defs = true

[[tool.mypy.overrides]]
module = "trimesh"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "typing_inspect"
ignore_missing_imports = true

[tool.black]
skip-string-normalization = true # equivalent to black -S
exclude = 'docarray/proto/pb2/*'


[tool.isort]
skip_glob= ['docarray/proto/pb2/*']

[tool.ruff]
exclude = ['docarray/proto/pb2/*', 'docs/*']

[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
    "internet: marks tests as requiring internet (deselect with '-m \"not internet\"')",
    "asyncio: marks that run async tests",

]