version: "3.3"
services:
  weaviate:
    image: semitechnologies/weaviate:1.13.2
    ports:
      - "51234:51234"
    environment:
      CONTEXTIONARY_URL: contextionary:9999
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
  qdrant:
    image: qdrant/qdrant:v0.7.0
    ports:
      - "51233:51233"
    ulimits: # Only required for tests, as there are a lot of collections created
      nofile:
        soft: 65535
        hard: 65535
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.2.0
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ports:
      - "51235:51235"
    networks:
      - elastic
  redis:
    image: redislabs/redisearch:2.6.0
    ports:
      - "51236:51236"
      
networks:
  elastic:
    name: elastic-benchmark