name: CI

on: [push, pull_request]

jobs:
  lint-flake-8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.5.0
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Lint with flake8
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install 

          # stop the build if there are Python syntax errors or undefined names
          poetry run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude .git,__pycache__,docs/source/conf.py,old,build,dist,tests/,docarray/proto/pb2/docarray_pb2.py
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          poetry run flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude .git,__pycache__,docs/source/conf.py,old,build,dist,tests/,docarray/proto/pb2/docarray_pb2.py

  check-black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.5.0
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: check black
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install --only dev 
          poetry run black .

        env:
          CHANGED_FILES: ${{ steps.file_changes.outputs.added_modified }}

  import-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.5.0
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Prepare enviroment
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install -E common --without dev
      - name: Test basic import
        run: poetry run python -c 'from docarray import DocumentArray, Document'


  check-mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.5.0
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: check mypy
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install  
          poetry run mypy docarray

#  prep-testbed:
#    runs-on: ubuntu-latest
#    needs: [lint-flake-8, check-black, import-test]
#    steps:
#      - uses: actions/checkout@v2.5.0
#      - id: set-matrix
#        run: |
#          sudo apt-get install jq
#          export value=$(bash scripts/get-all-test-paths.sh)
#          echo "matrix=$value" >> $GITHUB_OUTPUT
#    outputs:
#      matrix: ${{ steps.set-matrix.outputs.matrix }}

  docarray-test:
    needs: [lint-flake-8, check-black, import-test]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
#        test-path: ${{fromJson(needs.prep-testbed.outputs.matrix)}}
        test-path: [tests/integrations, tests/units]
    steps:
      - uses: actions/checkout@v2.5.0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Prepare environment
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install -E common

      - name: Test
        id: test
        run: |
          poetry run pytest ${{ matrix.test-path }}
        timeout-minutes: 30
#        env:
#          JINA_AUTH_TOKEN: "${{ secrets.JINA_AUTH_TOKEN }}"
#      - name: Check codecov file
#        id: check_files
#        uses: andstor/file-existence-action@v1
#        with:
#          files: "coverage.xml"
#      - name: Upload coverage from test to Codecov
#        uses: codecov/codecov-action@v3.1.1
#        if: steps.check_files.outputs.files_exists == 'true' && ${{ matrix.python-version }} == '3.8'
#        with:
#          file: coverage.xml
#          flags: ${{ steps.test.outputs.codecov_flag }}
#          fail_ci_if_error: false
#          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos

  # just for blocking the merge until all parallel core-test are successful
  success-all-test:
    needs: [docarray-test]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/workflow-conclusion-action@v2
      - name: Check Failure
        if: env.WORKFLOW_CONCLUSION == 'failure'
        run: exit 1
      - name: Success
        if: ${{ success() }}
        run: echo "All Done"
