name: Manual Docs Build

on:
  workflow_dispatch:
    inputs:
      release_token:
        description: 'Your release token'
        required: true
      triggered_by:
        description: 'CD | TAG | MANUAL'
        required: false
        default: MANUAL
      build_old_docs:
        description: 'TRUE | FALSE'
        type: string
        default: 'FALSE'
      package:
        description: The name of the repo to build documentation for.
        type: string
        default: docarray
      repo_owner:
        description: The owner of the repo to build documentation for. Defaults to 'jina-ai'.
        type: string
        default: jina-ai
      pages_branch:
        description: Branch that Github Pages observes
        type: string
        default: gh-pages
      git_config_name:
        type: string
        default: Jina Dev Bot
      git_config_email:
        type: string
        default: dev-bot@jina.ai

jobs:
  token-check:
    runs-on: ubuntu-latest
    steps:
      - run: echo "success!"
        if: "${{ github.event.inputs.release_token }} == ${{ env.release_token }}"
        env:
          release_token: ${{ secrets.DOCARRAY_RELEASE_TOKEN }}

  build-and-push-latest-docs:
    needs: token-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel
          # pip does not properly resolve dependency versions with syntax pip install --no-cache-dir ".[test,full]"
          pip install --no-cache-dir ".[test]"
          pip install --no-cache-dir ".[full]"
          pip install --no-cache-dir ".[qdrant]"
          pip install --no-cache-dir ".[annlite]"
          pip install --no-cache-dir ".[weaviate]"
          pip install --no-cache-dir ".[elasticsearch]"
          pip install --no-cache-dir ".[redis]"
          cd docs
          pip install -r requirements.txt
          pip install --pre -U furo
          pip install sphinx-markdown-tables==0.0.17
      - name: Sphinx Build
        run: |
          cd docs
          bash makedoc.sh
          mv ./_build/dirhtml /tmp/gen-html
      - name: Checkout to GH pages branch (${{ inputs.pages_branch }})
        run: |
          git fetch origin ${{ inputs.pages_branch }}:${{ inputs.pages_branch }} --depth 1
          git checkout -f ${{ inputs.pages_branch }}
          git reset --hard HEAD
      - name: Small config stuff
        run: |
          touch /tmp/gen-html/.nojekyll
          cp ./docs/CNAME /tmp/gen-html/CNAME
          cp ./docs/_versions.json /tmp/gen-html/_versions.json
          cp /tmp/gen-html/404/index.html /tmp/gen-html/404.html
          sed -i 's/href="\.\./href="/' /tmp/gen-html/404.html # fix asset urls that needs to be updated in 404.html
      - name: Moving old doc versions
        run: |
          cd docs
          for i in $(cat _versions.json | jq '.[].version' | tr -d '"'); do mv "$i" /tmp/gen-html; done
      - name: Swap in new docs
        run: |
          rm -rf ./docs
          mv /tmp/gen-html ./docs
      - name: Push it up!
        run: |
          git config --local user.email "${{ inputs.git_config_email }}"
          git config --local user.name "${{ inputs.git_config_name }}"
          git show --summary
          git add ./docs && git commit -m "chore(docs): update docs due to ${{github.event_name}} on ${{github.repository}}"
          git push origin ${{ inputs.pages_branch }}

  build-old-docs:
    needs: build-and-push-latest-docs
    runs-on: ubuntu-latest
    if: inputs.build_old_docs == 'TRUE'
    steps:
      - uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Build old docs
          token: ${{ secrets.JINA_DEV_BOT }}
          inputs: '{ "release_token": "${{ env.release_token }}", "triggered_by": "TAG"}'
        env:
          release_token: ${{ secrets.DOCARRAY_RELEASE_TOKEN }}
